@use "./global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;


* {
  margin: 0;
  position: relative;
}

h2 {
  color: $yellow-logo-color;
  padding-left: 1rem;
  font-size: 1rem;
  transition: 5s;

  @include tablet {
    padding: 1rem 1rem 0 1.8rem;
    font-size: 1.6rem;
  }

  @include desktop {
    font-size: 3.5rem;
  }
}

ul {
  padding-right: 1rem;

  @include tablet {
    padding-top: 2rem;
    padding-right: 2.5rem;
  }

  @include desktop {
    padding-top: 5rem;
  }
}

.mySidenav {
  display: flex;
  height: 20%;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #484747;
  overflow-x: hidden;
  transition: 0.5s;
  align-items: center;

  @include tablet {
    height: 100%;
    width: 20%;
    flex-direction: column;
  }

  &__links {
    padding: 0.5rem;
    align-self: center;
    list-style-type: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: $yellow-logo-color;
    transition: 10s;

    @include tablet {
      list-style-type: none;
      font-size: 1.6rem;
      text-decoration: none;
    }

    @include desktop {
      font-size: 3rem;
    }
  }
}

#tatoonine:hover {
  text-shadow: 0 0 1rem brown;
}

#hoth:hover {
  text-shadow: 0 0 1rem white;
}

#endor:hover {
  text-shadow: 0 0 1rem green;
}

.mySidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0rem;
  font-size: 3rem;
  color: $yellow-logo-color;
  text-decoration: none;
  padding-left: 0.5rem;

  @include tablet {
    position: relative;
    margin-left: auto;
    padding-right: 0.5rem;
  }

  @include desktop {
    font-size: 3.5rem;
  }
}

#open-button {
  position: absolute;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: auto;
  left: 0rem;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 3rem;
  }
}

@media screen and (max-height: 450px) {
  .mysidenav {
    padding-top: 0.9375rem;
  }
  .mySidenav__links {
    font-size: 1.125rem;
  }
}
