$content-tablet: 768px;
$content-desktop: 1200px;

$yellow-logo-color: #FCB245;
$red-logo-color: #851640;
$orange-logo-color: #F15E22;
$grey-background: #262626;
$rec-text-color: #fff;
$tatooine:#54230A;
$hoth: #DCEAF4;
$endor: #0F5604;
