a:link {
  text-decoration: none;
}

.mySidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.5rem;

  &__links {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
}
